<!DOCTYPE html>
<html lang="de">
    <head>
        <title>Fehler</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="/css/styles.css">
        <link rel="stylesheet" type="text/css" href="/css/grid.css">
    </head>
    <body>
        <%- include("includes/header.ejs") %>
        <%- include("includes/nav.ejs") %>
        <main>
            <h2>Fehler</h2>
            <p>Die angefragte Seite wurde nicht gefunden :(</p>
        </main>
        <%- include("includes/footer.ejs") %>        
    </body>
</html>